# dependencies
node_modules/

# environment variables
.env
.env.local
.env.production

# logs
*.log
npm-debug.log*

# testing
coverage/

# production
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
